@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 13px;
  }
  h1 {
    font-size: 28px;
  }
  .header-container {
  }
  .logo-section h1 {
    font-size: 10px;
  }
  .logo-section img {
    height: 45px;
  }
  .nav-links-list {
    font-size: 10px;
  }

  .carousel-item {
    height: 80vh;
    object-fit: cover;
  }
  .welcome-section {
    margin-top: 5%;
    padding: 0 5%;
  }
  .welcome-content div h1 {
    font-size: 28px;
  }
  .welcome-content div p {
    font-size: 13px;
  }
  .visit-section {
    padding: 0;
    margin-top: 5%;
  }
  .visit-content h1 {
    font-size: 28px;
  }
  .visit-content p {
    font-size: 13px;
  }
  .visit-content button {
    width: 50%;
    height: 50px;
    font-size: 15px;
  }
  .marquee-container {
    margin-top: 5%;
    width: 97vw;
    height: 14vh;
    overflow: hidden;
  }
  .marquee-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    /* gap: 10px; */
    /* flex-shrink: 0; */
  }
  .gallery-section {
    margin-top: 5%;
  }
  .gallery-content h1 {
    font-size: 28px;
  }
  .gallery-image {
    width: 26%;
    height: auto;
    object-fit: cover; /* Ensure images cover the entire container */
    transition: transform 0.3s;
  }
  .gallery-image:hover {
    /* width: 70%; */
    transform: scale(1.6);
  }
  .six-image {
    width: 13%;
  }
  .gallery-info p {
    font-size: 13px;
  }
  .gallery_btn {
    width: 30%;
    height: 50px;
    font-size: 15px;
  }
  .members-section {
    margin-top: 5%;
  }
  .members-section h1 {
    font-size: 28px;
  }
  .members-section .card {
    width: 27%;
    height: auto;
  }
  .subscribe-content input {
    border: none;
    border-radius: 5px;
    height: 5vh;
  }
  .subscribe-section p {
    font-size: 15px;
    transform: translate(6px, 7px);
  }
  .footer-section {
    background-position: center;
    /* height: 72vh; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .footer_data {
    padding: 8% 10%;
  }
  .footer_data h5 {
    font-size: 15px;
  }
  .footer_data h6 {
    font-size: 12px;
  }
  .footer_data span,
  .copywrite span {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-family: "Kodchasan", sans-serif;
    font-weight: 600 !important;
    line-height: normal !important;
    width: 100%;
    height: 100dvh;
  }

  .logo-section h1 {
    font-size: 11px;
  }
  .logo-section img {
    height: 32px;
    width: 60px;
  }
  .nav-links-list {
    font-size: 10px;
    transform: translate(0px, 0px);
  }
  /* hamburger menu */
  .hamburger {
    margin-left: 35px;
  }
  .offcanvas {
    width: 250px;
    background-color: #af3100;
  }
  .offcanvas-body {
    /* background-color: #af3100; */
  }
  .hambergur-navlinks {
    list-style: none;
  }
  .hambergur-navlinks li {
    margin-top: 10%;
    margin-top: 22%;
    font-size: 13px;
  }
  .hambergur-navlinks li a {
    text-decoration: none;
    color: #ffffff;
  }
  .offcanvas-header {
    padding: 1rem 0.6rem;
  }
  #offcanvasRightLabel img {
    width: 26px;
    height: 27px;
  }
  #offcanvasRightLabel h6 {
    font-size: 11px;
    transform: translate(4px, 4px);
  }

  .welcome-section {
    padding: 0;
  }
  .welcome-content div h1 {
    font-size: 28px;
  }
  .welcome-content div p {
    font-size: 13px;
  }
  .marquee-image {
    width: 30%;
  }
  .visit-section {
    padding: 0;
  }
  .visit-content h1 {
    font-size: 28px;
  }
  .visit-content p {
    font-size: 13px;
  }
  .visit-content button {
    width: 70%;
    height: 60px;
    font-size: 22px;
  }
  .marquee-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    /* gap: 10px; */
    /* flex-shrink: 0; */
  }
  .gallery-content h1 {
    font-size: 28px;
  }
  .gallery-image {
    width: 50%; /* Set width to 100% to ensure responsiveness */
    height: auto; /* Allow height to adjust proportionally */
    object-fit: cover; /* Ensure images cover the entire container */
    transition: transform 0.3s;
  }
  .gallery-image:hover {
    /* width: 70%; */
    transform: scale(1.2);
  }
  .six-image {
    width: 25%;
  }
  .gallery-info p {
    font-size: 13px;
  }
  .gallery_btn {
    width: 70%;
    height: 60px;
    font-size: 22px;
  }
  .members-section {
    margin-top: 5%;
  }
  .members-section h1 {
    font-size: 28px;
  }
  .members-section div {
    flex-direction: column;
  }
  .members-section .card {
    width: 100%;
    height: auto;
  }
  .members-section .card img {
    width: 30%;
  }
  .card .card-title {
    font-size: 20px;
  }
  .card .card-text {
    font-size: 15px;
  }
  .subscribe-section {
    flex-wrap: nowrap;
    flex-shrink: 1;
    height: 10vh;
  }
  .subscribe-content .subscribe-input {
    width: 80%;
    height: 22px;
    border-radius: 3px;
  }

  .subscribe-section p {
    font-size: 13px;
    margin-bottom: 0;
    transform: translate(0px, 0px);
  }
  .footer-section {
    background-position: center;
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .footer-section {
    height: 28%;
  }
  .footer_data {
    padding: 5% 11%;
  }
  .footer_data h5 {
    font-size: 15px;
  }
  .footer_data h6 {
    font-size: 10px;
  }
  .footer_data span,
  .copywrite span {
    font-size: 10px;
  }
}
